<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data"
        ngModelGroup="userData"
        #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
            ngModel
            name="username"
            required>
          </div>
          <button
            class="btn btn-default"
            type="button"
          (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input
              type="email"
              id="email"
              class="form-control"
            ngModel
            name="email"
            required
            email
            #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && email.touched">Entrer un email valid</span>
          </div>
          <p *ngIf="!userData.valid && userData.touched">User Data Invalid</p>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select
            id="secret"
            class="form-control"
          [ngModel]="defaultQuestions"
          name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea
            name="questionANswer"
            rows="3"
            [(ngModel)]="answer"
          ></textarea>
        </div>
        <p>Your reply : {{ answer }}</p>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
            type="radio"
            name="gender"
            ngModel
            required
            [value]="gender">
            {{ gender }}
          </label>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
        [disabled]="!f.valid">Submit</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12" *ngIf="submitted">
      <h3>Your Data :</h3>
      <p>Username: {{ user.username }}</p>
      <p>Mail: {{ user.email }} </p>
      <p>Secret Questions: Your First {{ user.secretQuestion }}</p>
      <p>Answer: {{ user.answer }}</p>
      <p>Gender: {{ user.gender }}</p>
    </div>
  </div>
</div>
